@import './pfsense-responsive.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .form-input-reset {
        @apply w-full focus:ring-0 focus:outline-none appearance-none bg-transparent py-2 text-sm text-gray-700 dark:text-gray-200 placeholder-gray-400;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }
}